.form-container {
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  width: 480px;
  height: 530px;
  background: #cce2ed;
  border: 1px solid #d7dbd8;
  box-shadow: 0px 5px 5px 5px #ededed;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-input-field {
  position: relative;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 27px;
}

.labels {
  position: absolute;
  left: 0px;
  padding: 6px 12px;
  transition: 0.2s ease;
  pointer-events: none;
}

.inputs {
  width: 100%;
  outline: none;
  font-size: 25px;
  padding: 0px 30px;
  line-height: 30px;
  background: transparent;
  border: 1px solid #1124f5;
  border-radius: 10px;
  transition: 0.1s ease;
  height: 44px;
}

.register-input-field .inputs:focus ~ .labels {
  transform: translateX(15px) translateY(-20px);
  background: #cce2ed;
  z-index: 1111;
}

.register-password-container {
  display: flex;
  border: 1px solid #1124f5;
  border-radius: 5px;
}

.header {
  text-align: start;
  font-size: 28px;
  font-family: "Roboto";
  font-weight: 600;
  color: #3911ed;
}

.submit-btn {
  width: 90px;
  background: #2420fa;
  border: none;
  font-size: 16px;
  font-family: Roboto;
  color: #ffffff;
  padding: 5px 18px;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
}

.labels {
  font-size: 19px;
  font-family: "Robto";
  font-weight: 500;
  color: #5555e8;
  margin-bottom: 9px;
}

.register-show-hide-pbtn {
  position: absolute;
  transform: translateY(5%);
  right: 2px;
  padding: 0px;
  width: 42px;
  border: none;
  height: 40px;
  font-size: 14px;
  font-family: "Roboto";
  background: #2420fa;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  color: #fff;
}

.password {
  background: none;
  border: none;
  outline: none;
  padding: 0px 6px;
}

.suggestion {
  font-size: 19px;
  font-family: "Roboto";
  color: #6a6ae6;
}

.link {
  text-decoration: none;
}
